body{
    font-family: "Arial", sans-serif;
    margin-bottom: 50px;
    margin-top: 30px;
    color: #000;
}

#page_container{
    width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

#top_bar{
    margin-top: 100px;
}

.bar{
    margin: 0;
    width:1400px;
    height: 30px;
    background-color: #66AAB7;
    float: left;  
    margin-left:40px;
}

#intro_back{
    background: black url("images/rangitoto_island/rangi.jpg") no-repeat center;
    float: left;
    width:1400px;
    height: 680px;
    margin: 0px;
    margin-left:40px;
    box-shadow: 0 0 48px 16px rgba(0,0,0,0.175);
}

#intro_text1{
    font-size: 80px;
    color: white;
    text-align:center;
    margin-top: 60px;
    margin-bottom: 160px;    
    text-shadow: 1px 1px 3px #000000;
}

#intro_text2{
    font-size: 80px;
    color: white;
    text-align:center;
    padding: 20px 0;
    width:1396px;
    border: 2px solid #fff;
    text-shadow: 2px 2px 4px #000000;
}

#our_vision{
    border: 5px solid black;
    border-left: none;
    border-right: none;
    padding-top: 20px 10px;
    padding-bottom: 50px;
    width: 1380px;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#wharf{
    margin: 0;
    margin-left: 40px;
    width: 1400px;
    height: 400px;
    padding:0;
}

#short{
    margin-top: -4px;
}

#vision_txt p{
    margin-bottom: 0;
    float: left;
    width: 500px;
    font-size: 28px;
    margin-top: 0;
}

#vtp1{
    margin-left: 40px;
    margin-right: 0;
    padding-left: 170px;
    padding-top: 30px;
    margin-top: 0;
}

#vtp2{
    padding-top: 30px;
    margin-left: 100px;
}

section{
    margin-bottom:270px;
}

#waiata_title{

    float: left;
    width: 1373px;
    margin-left: 40px;
    margin-top: 50px;
}

.subheading{
    font-size: 50px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 0;
}

#credit{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
}

#maori p{
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: -40px;
    font-size: 27px;
    text-align: center;
}

#maori{
    float:left;
}

#english{
    float:left;
    margin-top:500px;
    margin-left: -260px;
    margin-bottom: 50px;
}

#english p{
    margin-bottom: 10px;
    font-size: 24px;
    margin-left: -75px;
    text-align: center;
}

.decoration{ 
    float:left;
    margin-left: 40px;
    width: 340px;
    height: 1240px;
    margin-top: -232px;
    margin-bottom: 0px;
}

#above_wai{
    background-color: #5ccfe2
}

#under_wai{

    margin-left: -555px;
    background-color: #5ccfe2;
}

#waiata{
    margin-left: 595px;
}

#dec2{
    float: left;
    margin-left: 165px;
    border: none;

}
