body{
    font-family: "Arial", sans-serif;
    margin-bottom: 50px;
    margin-top: 30px;
    color: #000;
}

#page_container{
    width: 1800px;
    margin: 0 auto;
    padding: 20px;
}

#logo{
    width: 400px;
    float:left;
    margin-left: 100px;
}

#title{
    font-size: 60px;
    margin-bottom: 50px;
    float:left;
}

nav{
    background-color: #B9DAE1;
    clear: both;
    width:1800px;
}

nav ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
}

nav li{
    display: inline-block;
}

nav li a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: #000;
    padding: 75px 70px;
    width: 455.5px;
}

nav li a:hover{
    text-decoration: bold;
    color: black;
    background-color: #A9FFCB;
    opacity: 0.7;
    transition: 0.4s;
}

#link2{
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}

